/* @import 'libs/bootstrap-reboot.min';
@import 'libs/slick'; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

@import 'base/variables';
@import 'base/mixins';
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection {
    background: $main-color;
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section {
    padding: 1.5rem;
}

.container {
    display: block;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}


ul {
    padding-left: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}


@import 'blocks/header';
@import 'blocks/form';
@import 'blocks/buttons';
@import 'blocks/home';

@import 'blocks/media';