.book {
    &__heading{
        text-align: center;
        padding:2.5rem 0;
            span {
                font-size: 3.5rem;
                background:rgba(255, 165, 0,.2);
                color: $main-color;
                border-radius: .5rem;
                padding:.2rem 1rem;
                }
            .space {
                background: none;
            }
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        gap:1.5rem;
        align-items: center;
        &__image {
            flex: 1 1 40rem;
            img {
                width: 100%;
            }
        }
    }
    &__form {
        flex: 1 1 40rem;
        padding: 2rem;
        box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
        border-radius: .5rem;
        .inputBox {
            padding: 0.5rem 0;
            input {
                width: 100%;
                padding: 1rem;
                border:.1rem solid rgba(0,0,0,.1);
                font-size: 1.7rem;
                color: $second-color;
                text-transform: none;
            }
            h3 {
                font-size: 2rem;
                padding: 1rem 0;
                color: $third-color;
            }
        }
    }
}