.services {
    .box-container {
        display: flex;
        flex-wrap: wrap;
        gap:1.5rem;
        .box {
            flex: 1 1 30rem;
            border-radius: .5rem;
            padding: 1rem;
            text-align: center;
            &:hover {
                box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
            }
            i {
                padding: 1rem;
                font-size: 5rem;
                color: $main-color;
            }
            h3 {
                font-size: 2.5rem;
                color: $second-color;
            }
            p {
                font-size: 1.5rem;
                color: $third-color;
                padding: 1rem 0;
            }
        }
    }
}